# ĐỒ ÁN CUỐI KÌ: LẬP TRÌNH CHO KHOA HỌC DỮ LIỆU

## Đề tài: ...

| MSSV     | Họ và tên       | Github    |
|----------|-----------------|-----------|
| 1712575  | Hoàng Xuân Long | dralong10 |
| 19120539 | Vương Thế Khang | vt-khang  |

## Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## A. THU THẬP DỮ LIỆU

In [2]:
df = pd.read_csv('netflix_titles.csv')
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

## B. KHÁM PHÁ VÀ TIỀN XỬ LÝ DỮ LIỆU

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [3]:
df.shape

(8807, 12)

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

### Dữ liệu có các dòng bị lặp không?

In [5]:
all(df.duplicated())

False

### Mỗi cột có ý nghĩa gì?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

- Cac cot co gia tri thieu

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [9]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [17]:
df['date_added'] = df['date_added'].astype('datetime64')
df.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

In [18]:
def ratio_missing_val(s):
    return s.isnull().mean()*100

df[['date_added','release_year']].agg([ratio_missing_val, min, max])

                            date_added  release_year
ratio_missing_val             0.113546           0.0
min                2008-01-01 00:00:00        1925.0
max                2021-09-25 00:00:00        2021.0

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

In [20]:
df[['show_id','type']].agg([ratio_missing_val, pd.Series.nunique, pd.Series.unique])

,show_id,type
ratio_missing_val,0.0,0.0
nunique,8807,2
unique,"[s1, s2, s3, s4, s5, s6, s7, s8, s9, s10, s11,...","[Movie, TV Show]"

## C. ĐẶT CÂU HỎI

### Câu 1: ...
### Câu 2: ...
### Câu 3: ...

## D. PHÂN TÍCH DỮ LIỆU

### Câu 1: ...

### Câu 2: ...

### Câu 3: ...

## E. NHÌN LẠI QUÁ TRÌNH LÀM ĐỒ ÁN

## F. TÀI LIỆU THAM KHẢO